# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv

# IDE & OS
.vscode/
.idea/
*.swp
*.swo
*~
Thumbs.db
Desktop.ini

# Logs & build artifacts
*.log
*.spec
app_data.zip

# Testes, Cobertura e Auditoria
.coverage
.coverage.*
coverage.json
bandit_report.json
htmlcov/
.pytest_cache/
*.tmp
